div.dialogo-full {
  width: max-content;
  height: 600px;
}

div.icono-antes-empezar {
  background-color: #DDDDDD;
  width: 100px;
  height: 100px;
  border-radius: 25%;
  padding:30px;
}

mat-icon.icono-grande {
  font-size: 100px;
  color: lightseagreen;
}
